* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: aliceblue;
}
:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--VeryDarkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  max-width: 400px;
  max-height: 400px;
  background: var(--DarkBlue);
}

.result {
  display: none;
}
